<div class="container-fluid full-height">
    <div class="row">
        <div class="col mx-auto">
            <div class="row" style="padding-top: 2%">

                <!-- Current Image -->
                <div class="col-md-6 no-left-padding">
                    <div class="image-container">
                        {{#each uploadedImages as |image index|}}
                            {{#if @last}}
                                <img src="{{image}}" class="img-fluid mb-3" alt="Latest Uploaded Image">
                            {{/if}}
                        {{/each}}
                    </div>

                </div>

                <!-- Resize Adjustment Settings -->
                <div class="col-md-6">
                        <form action="/resize" method="post" enctype="multipart/form-data" class="resize-options">
                            <!-- Current uploaded image as hidden field to reference in the resize route -->
                            <input type="hidden" name="currentImage" value="{{resizedImage}}">

                            <div class="form-group">
                                <label for="width">Width:</label>
                                <input type="number" name="width" class="form-control" id="width" placeholder="Width in pixels" required>
                            </div>
                            <div class="form-group">
                                <label for="height">Height:</label>
                                <input type="number" name="height" class="form-control" id="height" placeholder="Height in pixels" required>
                            </div>
                            <div class="form-group">
                                <label for="aspectRatio">Maintain Aspect Ratio:</label>
                                <input type="checkbox" name="maintainAspectRatio" id="maintainAspectRatio">
                            </div>
                            <div class="form-group">
                                <label for="format">Format:</label>
                                <select class="form-control" name="imageType" id="imageType">
                                    <option value="jpg">JPG</option>
                                    <option value="png">PNG</option>
                                    <option value="gif">GIF</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="quality">Quality:</label>
                                <input type="range" name="imageQuality" min="0" max="100" step="1" id="imageQuality" value="5" class="form-control-range">
                            </div>
                            <input type="file" name="image" accept="image/*">
                            <label for="aspectRatio">Download</label>
                            <input type="checkbox" name="download" id="download">
                            <button type="submit" class="btn btn-primary">Resize</button>
                        </form>

                    <!-- If there's an error during resizing -->
                    {{#if error}}
                        <p>{{error}}</p>
                    {{/if}}
                </div>
            </div>

            <!-- Uploaded images bar -->
            <h2 style="text-align: center; margin-top: 2%">Previous Uploads</h2>
            <div style="margin-top: 2%" class="row uploaded-images-bar">
                {{#each uploadedImages}}
                        <div class="col">
                            <img src="{{this}}" alt="Uploaded Image {{@index}}" class="img-fluid">
                        </div>
                {{/each}}
            </div>

        </div>
    </div>
</div>
