<!-- Main container -->
<div class="container-fluid full-height">
    <div class="row">
        <div class="col mx-auto">

            <!-- Row for the current image and resize settings -->
            <div class="row" style="padding-top: 2%">

                <!-- Current Image Section -->
                <div class="col-md-6 no-left-padding">
                    <div class="image-container">
                        {{#if resizedImage}}
                            <img src="{{resizedImage}}" class="img-fluid mb-3" alt="Resized Image">
                        {{else}}
                            <img src="{{uploadedImages}}" class="img-fluid mb-3" alt="Fetching image...">
                        {{/if}}
                    </div>
                </div>

                <!-- Resize Adjustment Settings Section -->
                <div class="col-md-6">
                    <!-- Form to post resize settings and the image to resize -->
                    <form action="/resize" method="post" enctype="multipart/form-data" class="resize-options" onsubmit="return validateForm()">

                        <!-- Hidden input to hold the current resized image path -->
                        <input type="hidden" name="currentImage" value="{{resizedImage}}">

                        <!-- Width input -->
                        <div class="form-group">
                            <label for="width">Width:</label>
                            <input type="number" name="width" class="form-control" id="width" placeholder="Width in pixels" required>
                        </div>

                        <!-- Height input -->
                        <div class="form-group">
                            <label for="height">Height:</label>
                            <input type="number" name="height" class="form-control" id="height" placeholder="Height in pixels" required>
                        </div>

                        <!-- Checkbox to decide if the aspect ratio should be maintained -->
                        <div class="form-group">
                            <label for="aspectRatio">Maintain Aspect Ratio:</label>
                            <input type="checkbox" name="maintainAspectRatio" id="maintainAspectRatio">
                        </div>

                        <!-- Image format dropdown selection -->
                        <div class="form-group">
                            <label for="format">Format:</label>
                            <select class="form-control" name="imageType" id="imageType">
                                <option value="jpeg">JPG</option>
                                <option value="png">PNG</option>
                                <option value="gif">GIF</option>
                            </select>
                        </div>

                        <!-- Image quality slider input -->
                        <div class="form-group">
                            <label for="quality">Quality:</label>
                            <input type="range" name="imageQuality" min="0" max="100" step="1" id="imageQuality" value="100" class="form-control-range">
                        </div>

                        <!-- Input to choose the image file to upload and resize -->
                        <input type="file" name="image" accept="image/*" id="imageFile" multiple required>

                        <!-- Checkbox to decide if the image should be downloaded after resizing -->
                        <label for="aspectRatio">Download</label>
                        <input type="checkbox" name="download" id="download">

                        <!-- Button to submit the form and initiate the resize process -->
                        <button type="submit" class="btn btn-primary">Resize</button>
                    </form>

                    <!-- Display an error message if there's an error during resizing -->
                    {{#if error}}
                        <p>{{error}}</p>
                    {{/if}}
                </div>
            </div>

            <!-- Display bar for previously uploaded images -->
            <h2 style="text-align: center; margin-top: 2%">Previous Uploads</h2>
            <div style="margin-top: 2%" class="row uploaded-images-bar">
                {{#if resizedImage}}
                    {{#each uploadedImages}}
                        <div class="col image-download-wrapper">  <!-- Added wrapper div for image and button -->
                            <img src="{{this}}" alt="Uploaded Image {{@index}}" class="img-fluid">
                            <a href="/download/{{@index}}" class="btn btn-primary download-button">Download</a>
                        </div>
                    {{/each}}
                {{else}}
                    <img src="{{uploadedImages}}" class="img-fluid mb-3" alt="Fetching image...">
                {{/if}}
            </div>

        </div>
    </div>
</div>

<!-- JavaScript to validate the file input -->
<script>
    function validateForm() {
        const fileInput = document.getElementById('imageFile');
        if (!fileInput || !fileInput.files || fileInput.files.length === 0) {
            alert('Please select an image to resize.');
            return false;
        }
        return true;
    }
</script>
